{%- doc -%}
  Renders a cart discount form.

  @param {string} section_id - The section ID (optional, defaults to 'cart-discount')
{%- enddoc -%}

{% liquid
  assign section_id = section_id | default: 'cart-discount'
  assign discount_codes = cart.cart_level_discount_applications | where: 'type', 'discount_code' | map: 'title'
  
  if discount_codes.size > 0
    assign disclosure_expanded = true
  else
    assign disclosure_expanded = false
  endif
%}
{% capture discount_content %}
  <cart-discount-component
    data-section-id="{{ section_id }}"
  >
    <div class="cart-discount__content">
      <form
        class="cart-discount__form"
      >
        <label
          for="cart-discount"
          class="visually-hidden"
        >
          {{- 'accessibility.discount' | t -}}
        </label>
        <input
          id="cart-discount"
          class="cart-discount__input"
          type="text"
          name="discount"
          placeholder="{{ 'cart.discount_code' | t }}"
          required
        >
        <button
          type="submit"
          class="button button--primary cart-discount__button"
        >
          {{ 'cart.apply' | t }}
        </button>
      </form>
    </div>
    <div
      class="cart-discount__error hidden"
      role="alert"
    >
      <span class="svg-wrapper">
        {{- 'icon-error.svg' | inline_asset_content -}}
      </span>
      <small
        class="cart-discount__error-text cart-discount__error-text--discount-code cart-primary-typography hidden"
      >
        {{ 'cart.discount_code_error' | t -}}
      </small>
      <small
        class="cart-discount__error-text cart-discount__error-text--shipping cart-primary-typography hidden"
      >
        {{ 'cart.shipping_discount_error' | t }}
      </small>
    </div>
  </cart-discount-component>
  <ul class="cart-discount__codes">
    {% for discount_code in discount_codes %}
      <li
        class="cart-discount__pill"
        data-discount-code="{{ discount_code }}"
        aria-label="{{ 'accessibility.discount_applied' | t -}} {{ discount_code | escape }}"
      >
        <p class="cart-discount__pill-code">
          {{ discount_code }}
        </p>
        <button
          type="button"
          class="cart-discount__pill-remove svg-wrapper svg-wrapper--smaller button-unstyled"
          aria-label="{{ 'cart.remove_discount' | t -}} {{ discount_code | escape }}"
        >
          {{- 'icon-close.svg' | inline_asset_content -}}
        </button>
      </li>
    {% endfor %}
  </ul>
{% endcapture %}

<disclosure-custom class="cart-discount">
  <button
    aria-controls="cart-discount-disclosure"
    aria-expanded="{% if disclosure_expanded %}true{% else %}false{% endif %}"
    aria-label="{% if disclosure_expanded %}{{ 'accessibility.close' | t }}{% else %}{{ 'accessibility.open' | t }}{% endif %} {{ 'accessibility.discount_menu' | t }}"
    class="disclosure-trigger"
    data-disclosure-open="{{ 'accessibility.open' | t }} {{ 'accessibility.discount_menu' | t }}"
    data-disclosure-close="{{ 'accessibility.close' | t }} {{ 'accessibility.discount_menu' | t }}"
    ref="disclosureTrigger"
    type="button"
  >
    <span class="disclosure-trigger__label h6">{{ 'cart.discount' | t -}}</span>

    <span class="disclosure-trigger__icons">
      <span class="svg-wrapper icon-plus">
        {{- 'icon-plus.svg' | inline_asset_content -}}
      </span>
      <span class="svg-wrapper icon-minus">
        {{- 'icon-minus.svg' | inline_asset_content -}}
      </span>
    </span>
  </button>

  <div
    class="disclosure-content"
    {% unless disclosure_expanded %}
      inert
    {% endunless %}
    ref="disclosureContent"
  >
    <div id="cart-discount-disclosure">
      {{ discount_content }}
    </div>
  </div>
</disclosure-custom>
